@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Light.ttf") format("truetype");
  }
}

.layout {
  @apply mx-auto;
  max-width: 1440px;
  padding-eft: 16px;
  padding-right: 16px;
}

tr:nth-child(odd) {background-color: #f0f0f0;}

table{
  border: #c1c1c1;
  border-collapse: collapse;
}
th, td{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 40px;
}